# Import Libraries and data set

In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
path = r'C:\Users\ctede\OneDrive\Desktop\World University Rankings Analysis'
name = pd.read_csv(os.path.join(path,'02 Data', 'Original Data', 'InstitutionCampus.csv'))

In [3]:
name.head()

,DapipId,OpeId,IpedsUnitIds,LocationName,ParentName,ParentDapipId,LocationType,Address,GeneralPhone,AdminName,AdminPhone,AdminEmail,Fax,UpdateDate
0,100016,01230800,100636,Community College of the Air Force,-,-,Institution,"130 W Maxwell Blvd, Montgomery, AL 36112-6613",3349536436,ERIC A. ASH,3349536436,eric.ash@maxwell.af.mil,3.349538e+09,NaN
1,100016002,NaN,NaN,Community College of the Air Force,Community College of the Air Force,100016,Additional Location,"2250 Stanley Road, Unit 161, Fort Sam Houston,...",NaN,NaN,NaN,NaN,NaN,NaN
2,100025,00100200,100654,Alabama A & M University,-,-,Institution,"4900 Meridian Street, Normal, AL 35762",2563725000,Andrew Hugine,2563725230,andrew.hugine@aamu.edu,NaN,9/14/2018 12:00:00 AM
3,100034,00105200,100663,University of Alabama at Birmingham,-,-,Institution,"1720 2nd Avenue South, Birmingham, AL 35233",2059344011,Dr. Ray L. Watts,2059344636,rlawtts@uab.edu,NaN,3/12/2013 12:00:00 AM
4,100034002,NaN,NaN,UAB School of Optometry,University of Alabama at Birmingham,100034,Additional Location,"1716 University Boulevard, Birmingham, AL 35294",NaN,NaN,NaN,NaN,NaN,NaN

# Create a subset 
    Only want the location name, parent name, and address

In [4]:
columns = ["LocationName", "ParentName", "Address"]

In [5]:
name_2 = name[columns]

In [6]:
name_2.head()

,LocationName,ParentName,Address
0,Community College of the Air Force,-,"130 W Maxwell Blvd, Montgomery, AL 36112-6613"
1,Community College of the Air Force,Community College of the Air Force,"2250 Stanley Road, Unit 161, Fort Sam Houston,..."
2,Alabama A & M University,-,"4900 Meridian Street, Normal, AL 35762"
3,University of Alabama at Birmingham,-,"1720 2nd Avenue South, Birmingham, AL 35233"
4,UAB School of Optometry,University of Alabama at Birmingham,"1716 University Boulevard, Birmingham, AL 35294"

In [7]:
name.shape

(34652, 14)

In [8]:
name_2.shape

(34652, 3)

In [9]:
#Export name_2 
name_2.to_csv(os.path.join(path, '02 Data', 'Prepared Data', 'university_name.csv'))

# Clean the subset

In [9]:
#Check for missing values 
name_2.isnull().sum() #no missing values

LocationName    0
ParentName      0
Address         0
dtype: int64

In [10]:
#Check for duplicate values 
dups = name_2.duplicated()

In [11]:
dups.shape #no duplicates

(34652,)

# Wrangling - create a state column

In [14]:
#str_extract(text, "\\b[A-Z]{2}(?=\\s+\\d{5}$)")
#df2 = df["Address"].apply(lambda x: x.split(","))
#city = df2.apply(lambda x: " ".join(x[0].split()[1:]))
#state = df2.apply(lambda x: x[1].split()[0])
#result = pd.DataFrame(zip(city, state), columns=["city", "state"])

In [31]:
#def extract_city_state(a):
   # asplit = a.split(",")
   # city = asplit[0].split()[-1]
    #state = asplit[1].split()[0]
    #return city, state

In [32]:
def extract_city_state(a): 
    asplit = a.split(",")
    city - asplit[0].split()[-1]
    state = asplit[1].split()[0]
    return city, state

In [37]:
extract_city_state

In [ ]:
result = pd.DataFrame(zip(city, state), columns = ["LocationName", "ParentName", "city", "state"])